<template>
    <div>
        <b>#{{item.id}}</b>
        <span>{{ item.name }}</span>
    </div>
</template>

<script>
    export default {
        name: "PokeSearch",
        props: {
            item: { required: true },
            searchText: { required: true }
        }
    }
</script>

<style scoped>

</style>
