<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card mb-3">
                    <div class="card-header"><h2>Pokedex</h2></div>

                    <div class="card-body">
                        <v-autocomplete :items="items"
                                        v-model="item"
                                        :get-label="getLabel" :min-len="2"
                                        @update-items="update"
                                        :component-item="tpl"
                                        @item-selected="updateItem"
                                        @change="update"
                                        :input-attrs="{name: 'pokemon-name', id: 'v-my-autocomplete'}">
                        </v-autocomplete>
                    </div>
                </div>
                <div class="card" v-if="hasItem">
                    <div class="card-header"><h3>Pokemon</h3></div>
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-4"><img v-bind:src="getDefaultSprite()" alt="front"></div>
                                <div class="col-4"><img v-bind:src="getBackSprite()" alt="front"></div>
                            </div>
                        </div>

                            <div class="media-body">
                                <h1>{{ getPokemonName() | capitalize }}</h1>
                                <h4>Species</h4>
                                <p>{{ getSpecies() | capitalize }}</p>
                                <h4>Attributes</h4>
                                <ul>
                                    <li>Height: {{ getHeight() }}</li>
                                    <li>Weight: {{ getWeight() }}</li>
                                </ul>
                                <h4>Abilities</h4>
                                <ul id="pokemon-abilities" v-if="hasAbilities()">
                                    <li v-for="ability in item.abilities">
                                        {{ ability.ability.name | capitalize }}
                                    </li>
                                </ul>
                                <h4>Moves</h4>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-4" v-for="moves in getMoves()">
                                            {{ moves.move.name | capitalize }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
<!--                    <pre>{{ item}}</pre>-->
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import PokeSearch from './PokeSearch.vue'
    import TplPokemon from './TplPokemon.vue'

    export default {
        data() {
            return {
                item: {},
                items: [],
                all: [],
                template: PokeSearch,
                tpl: TplPokemon,
                loaded: null,
                hasItem: false
            }
        },
        /**
         * Prepare the component (Vue 1.x).
         */
        ready() {
            this.prepareComponent();
        },
        /**
         * Prepare the component (Vue 2.x).
         */
        mounted() {
            this.prepareComponent();
        },

        methods: {
            prepareComponent() {
                this.getPokemonList();
            },

            getPokemonList() {
                axios.get('/pokemon')
                    .then(response => {
                        this.all = this.items = response.data;
                    });
            },
            getLabel(item) {
                if(item) {
                    return this.ucfirst(item.name) || "Select one";
                }
                return "";
            },

            update(text) {
                if(text === null || text === "" )
                {
                    this.items = this.all;
                    this.hasItem = false;
                }else {
                    this.items = this.all.filter((item) => {
                        return (new RegExp(text.toLowerCase())).test(item.name.toLowerCase())
                    })
                }
            },

            getSpecies() {
                if (this.item) {
                    if (this.item.species) {
                        return this.item.species.name
                    }
                }
                return "";
            },

            getHeight()
            {
                if (this.item) {
                    return this.item.height
                }
            },

            getWeight()
            {
                if (this.item) {
                    return this.item.height
                }
            },

            getMoves() {
                if (this.item) {
                    if (this.item.moves) {
                        return this.item.moves
                    }
                }
                return "";
            },
            updateItem(item) {
                if (item.name) {
                    if (item.name !== this.loaded) {
                        axios.get('/pokemon/' + item.name)
                            .then(response => {
                                this.item = response.data;
                                this.loaded = item.name;
                                this.hasItem = true;
                            });
                    }
                }
            },

            getDefaultSprite() {
                if (this.item) {
                    if (this.item.sprites) {
                        return this.item.sprites.front_default
                    }
                }
                return "";
            },
            getBackSprite() {
                if (this.item) {
                    if (this.item.sprites) {
                        return this.item.sprites.back_default
                    }
                }
                return "";
            },
            getPokemonName() {
                if (this.item) {
                    return this.item.name
                }
                return "";
            },

            hasAbilities() {
                if (this.item) {
                    let abilities = this.item.abilities || [];
                    return abilities.length > 0;
                }
                return false;
            },


            ucfirst(string)
            {
                if (string) {
                    if (string.length > 1) {
                        return string.charAt(0).toUpperCase() + string.slice(1);
                    }
                    return "";
                }
                return "";
            }
        }
    }
</script>
<style>
    .v-autocomplete .v-autocomplete-input-group .v-autocomplete-input {
        font-size: 1.5em;
        padding: 10px 15px;
        box-shadow: none;
        border: 1px solid #157977;
        width: calc(100% - 32px);
        outline: none;
        background-color: #eee;
    }

    .v-autocomplete .v-autocomplete-input-group.v-autocomplete-selected .v-autocomplete-input {
        color: #008000;
        background-color: #f2fff2;
    }

    .v-autocomplete .v-autocomplete-list {
        width: 100%;
        text-align: left;
        border: none;
        border-top: none;
        max-height: 400px;
        overflow-y: auto;
        border-bottom: 1px solid #157977;
    }

    .v-autocomplete .v-autocomplete-list .v-autocomplete-list-item {
        cursor: pointer;
        background-color: #fff;
        padding: 10px;
        border-bottom: 1px solid #157977;
        border-left: 1px solid #157977;
        border-right: 1px solid #157977;
    }

    .v-autocomplete .v-autocomplete-list .v-autocomplete-list-item:last-child {
        border-bottom: none;
    }

    .v-autocomplete .v-autocomplete-list .v-autocomplete-list-item:hover {
        background-color: #eee;
    }

    .v-autocomplete .v-autocomplete-list .v-autocomplete-list-item abbr {
        opacity: 0.8;
        font-size: 0.8em;
        display: block;
        font-family: sans-serif;
    }

    pre {
        text-align: left;
        white-space: pre-wrap;
        background-color: #eee;
        border: 1px solid #c0c0c0;
        padding: 20px !important;
        border-radius: 10px;
        font-family: monospace !important;
    }

    .left {
        text-align: left;
    }

    .note {
        border-left: 5px solid #ccc;
        padding: 10px;
    }

</style>
