<template>
<div>
    <span>{{ item.name | capitalize }}</span>

</div>
</template>


<script>
    export default {
        name: "TplPokemon",
        props: {
            item: { required: true }
        }
    }
</script>
